<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>715553697485-p1t3bef4c00cbn9fqmf4quc4s01e6oos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715553697485-p1t3bef4c00cbn9fqmf4quc4s01e6oos</string>
	<key>API_KEY</key>
	<string>AIzaSyDUBcXgr0SB1SEMNsMy2uOf9ZPYGThdFtA</string>
	<key>GCM_SENDER_ID</key>
	<string>715553697485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rizasatyabudhi.InstagramFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-b7245</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-b7245.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:715553697485:ios:8b2d8d525e21e839</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfirebase-b7245.firebaseio.com</string>
</dict>
</plist>
